body {
	border: none;
	margin: 0;
}

#leftBar {
	display: none;
}
main {
	display: flex;
	font-family: Inter, arial, sans-serif;
	font-weight: 800;
	color: #1c3d84;
	background-color: #eaedf2;
}
#content {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
#navTop {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.3rem;
	gap: 12px;
}
#navTop img {
	width: 40px;
}

#categories {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 25px;
	width: 100%;
}

.box {
	display: flex;
	box-sizing: border-box;
	padding: 20px;
	justify-content: flex-start;
	align-items: self-end;
	border-radius: 18px;
	background-color: white;
	width: 100%;
	height: 250px;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	overflow: hidden;
}
.box-overlay {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgb(28, 61, 134);
	background: linear-gradient(
		0deg,
		rgba(28, 61, 134, 1) 0%,
		rgba(28, 61, 134, 0) 100%
	);
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 18px;
}
.box-content {
	display: flex;
	justify-content: space-between;
	align-items: self-end;
	z-index: 2;
	width: 100%;
	transition: all 0.5s ease-in-out;
}
.box-title {
	font-size: 1.3rem;
	display: block;
	color: white;
	padding-right: 80px;
}
.box-arrow {
	width: 25px;
	transition: all 0.5s ease-in-out;
}
.box-background {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	border-radius: 18px;
	transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 800px) {
	#leftBar {
		display: block;
		min-height: 100vh;
		width: 280px;
		background-color: #1c3d84;
	}

	.box {
		/* flex: 1 1 280px; */
		width: 47%;
		/* width: 290px; */
		height: 325px;
	}
	.box-title {
		font-size: 1.5rem;
		padding-right: 25px;
	}
	.box-arrow {
		width: auto;
	}
}

@media screen and (min-width: 1024px) {
	.box {
		width: 48%;
	}
	.box-content {
		margin-bottom: 0;
	}
	.box-arrow {
		opacity: 0;
	}
	.box:hover .box-content {
		opacity: 1;
		margin-bottom: 30px;
	}
	.box:hover .box-arrow {
		opacity: 1;
	}

	.box:hover .box-background {
		transform: scale(1.1);
	}
}

@media screen and (min-width: 1280px) {
	#categories {
		justify-content: flex-start;
	}
	.box {
		width: 300px;
	}
}
